<template>
    <div v-if="!!activeplayer">
        <h3 class="text-center mt-2">
            <img :alt="activeplayer.profession" class="icon" :src="activeplayer.icon">
            {{activeplayer.name}}       
            <img v-if="playerIsRunningHealingExtension(activeplayer)"
                :src="UIIcons.GreenFlag" alt="Complete" class="icon" data-original-title="Complete Healing Data">
        </h3> 
        <nav-tabs-component>
            <healingdist-player-component :label="'Outgoing Healing'" :active="tab === 'OutgoingHealing'"
                :playerindex="playerindex" :phaseindex="phaseindex" :activetargets="activetargets" />
            <barrierdist-player-component v-if="hasBarrierExtension" :label="'Outgoing Barrier'" :active="tab === 'OutgoingBarrier'"
                :playerindex="playerindex" :phaseindex="phaseindex" :activetargets="activetargets" />
            <healingtakendist-player-component :label="'Incoming Healing'" :active="tab === 'IncomingHealing'"
                :playerindex="playerindex" :phaseindex="phaseindex" />
            <barriertakendist-player-component :label="'Incoming Barrier'" :active="tab === 'IncomingBarrier'"
                :playerindex="playerindex" :phaseindex="phaseindex" />
            <player-healing-graph-tab-component :label="'Graph'" :active="tab === 'Graph'"
                :playerindex="playerindex" :phaseindex="phaseindex" :activetargets="activetargets" :light="light" />
            <player-buff-tab-component :label="'Boon Status'" :active="tab === 'BoonStatus'"
                :playerindex="playerindex" :phaseindex="phaseindex" />

            <simplerotation-selector-component :label="'Simple Rotation'" :active="tab === 'SimpleRotation'"
                :actorindex="playerindex" :phaseindex="phaseindex" :target="false" />
            <advancedrotation-component :label="'Advanced Rotation'" :active="tab === 'AdvancedRotation'"
                :actorindex="playerindex" :phaseindex="phaseindex" :target="false" :light="light" />
            <food-component :label="'Consumables'" :active="tab === 'Consumables'"
                :playerindex="playerindex" :phaseindex="phaseindex" />
        </nav-tabs-component>
    </div>
    <div v-else>
        <h3 class="text-center">No player selected</h3>
    </div>
</template>

<script>
    Vue.component("player-healing-stats-component", {
        props: ["phaseindex", 'activetargets', 'playerindex', 'light'],
        mixins: [extensionPresentComponent, UIIconsComponent],
        template: `${template}`,
        data: function () {
            console.log(this.playerindex);
            console.log(logData.players.find(p => p.id === this.playerindex));
            return {
                tab: validateStartPath("HealingStatistics/PlayerSummary") ? EIUrlParams.get("startPage").split('/')[2] : '',
                activeplayer: logData.players.find(p => p.id === this.playerindex)
            };
        }
    });
</script>