<template>
    <div class="mt-1">
        <phase-component :phases="reactiveLogdata.phases" />
        <div class="d-flex flex-row justify-content-center mb-2 mt-2" id="healing-actors">
            <div class="flex-row justify-content-center align-items-center flex-wrap mr-5">
                <player-target-component :players="reactiveLogdata.players" :phaseindex="activePhase"></player-target-component>
            </div>
            <player-component class="ml-5" :players="reactiveLogdata.players" :phaseindex="activePhase" />
        </div>
        <h6 class="text-center" v-if="!everybodyRunning">
            Data may be incomplete due to not everybody running the <a href="https://github.com/Krappa322/arcdps_healing_stats/releases">healing stats addon</a>. Make sure to enable its logging features.
        </h6>

        <nav-tabs-component>
            <healing-stat-tables-component :label="'Healing Stats'" :active="tab === 'HealingStats'"
                :phaseindex="activePhase" :playerindex="activePlayer" :activetargets="activePlayerTargets" />
            <buff-tab-component :label="'Buffs'" :active="tab === 'Buffs'"
                :phaseindex="activePhase" :playerindex="activePlayer" />
            <mechanics-stats-component v-if="hasMechanics" :label="'Mechanics'" :active="tab === 'Mechanics'"
                :phaseindex="activePhase" :playerindex="activePlayer" />
            <healing-graph-stats-component :label="'Graph'" :active="tab === 'Graph'"
                :phaseindex="activePhase" :playerindex="activePlayer" :activetargets="activePlayerTargets" :light="light" />
            <player-rotations-tab-component v-if="hasRotations" :label="'Rotations'" :active="tab === 'Rotations'"
                :phaseindex="activePhase" :light="light" :playerindex="activePlayer" />
            <player-healing-stats-component :label="'Player Healing Summary'" :active="tab === 'PlayerSummary'"
                :phaseindex="activePhase" :playerindex="activePlayer" :activetargets="activePlayerTargets" :light="light"/>
        </nav-tabs-component>

    </div>
</template>

<script>
    Vue.component("healing-extension-view-component", {
        props: ['light'],
        template: `${template}`,
        data: function () {
            return {
                tab: validateStartPath("HealingStatistics") ? EIUrlParams.get("startPage").split('/')[1] : '',
                reactiveLogdata: reactiveLogdata
            };
        },
        computed: {
            activePhase: function () {
                const activePhase = this.reactiveLogdata.phases.findIndex(p => p.active);
                return activePhase;
            },
            phase: function () {
                return logData.phases[this.activePhase];
            },
            activePlayer: function () {
                const activePlayer = this.reactiveLogdata.players.findIndex(p => p.active);
                return activePlayer;
            },
            activePlayerTargets: function () {
                const res = [];
                for (let i = 0; i < logData.players.length; i++) {
                    const player = this.reactiveLogdata.players[i];
                    if (player.targetActive) {
                        res.push(i);
                    }
                }
                return res;
            },
            everybodyRunning: function() {
                for (let i = 0; i < logData.usedExtensions.length; i++) {
                    const usedExtension = logData.usedExtensions[i];
                    if (usedExtension.includes("Healing Stats")) {
                        return logData.playersRunningExtensions[i].length === logData.players.filter(x => !x.notInSquad).length;
                    }
                }
                return false;
            },
        }
    });
</script>
